body{
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    margin: 0;
    padding: 150px;
}
.resume-container{
    display: flex;
    background-color:white ;
    margin: 0 auto;
    width: 80%;
    border-radius: 10px;
   box-shadow: 0 0 30px #1a1818 0, 0, 0, 0.5;
}
.left-section{
    background-color: #6f00ff;
    color: white;
    padding: 20px;
    width:33%;
    text-align: center;
    border-right: 5px solid #77b10d;
}
.profile-picture{
    width: 160px;
    height: 170px;
    margin-top: 10%;
    border-radius: 50%;
    border: 5px solid #77b10d;
    margin-bottom: 20px;
}
h1{
    font-size: 24px;
    margin: 10px 0;
    margin-bottom: 30px;
    text-align: center;
}
h3{
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10x;
    color: black;
    border-radius: 10px;
    box-shadow:0 0 15px  #77b10d;
    margin-top: 5%;
    margin-bottom: 5%;
}
ul{
    list-style-type:fill round;
    padding: 10;
    margin: 10px 0;

}
ul li{
    margin: 5px 0;
}
.right-section{
    padding: 20px;
    width:85%
}
button{
    font-family: Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 15px #77b10d;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
}
button:hover{
    background-color: #6f00ff; ;
}